body {
    width: 100%;
    overflow-x: visible;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 500;
    color: #252533;
    background-color: #F5F5F7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.title_num_font {
    font-family: 'Wix Madefor Display';
}

a {
    text-decoration: none;
    color: #252533;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.btn_form {
    border-radius: 16px;
    border: transparent;
    cursor: pointer;
    font-family: 'Mulish';
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
    color: #F7F5F5;
    background-color: #F94C23;
}

/* ------------------------------------------- */
/* Header - Шапка */

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #F5F5F7;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}

.nav {
    display: flex;
    gap: 28px;
    align-items: center;
    line-height: 1.2;
}

.contacts_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.num_header {
    font-weight: 600;
}

.social_net_header {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ------------------------------------------- */
/* hero - Приветственный экран */

#hero {
    padding-top: 52px;
    padding-bottom: 40px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 10px 20px -10px #0d0b1a14;
}

.hero_title {
    position: relative;
}

.hero_title::after {
    content: url('/assets/img/hero/hero_img.svg');
    position: absolute;
    display: inline-block;
    left: 28.5%;
    top: -50%;
}

.hero_subtitle {
    position: relative;
    display: inline-block;
    font-family: 'Wendy One', 'Mulish';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: 32px;
}

.hero_subtitle::after {
    content: url('/assets/img/hero/line_subtitle.svg');
    position: absolute;
    display: inline-block;
    left: 45%;
    top: 30%;
}

.hero_text {
    margin-top: 199px;
    font-size: 20px;
    line-height: 1.4;
}

.hero_button {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.btn_hero {
    padding: 17px 44px;
}

.hero_cost_orange {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    color: #F94C23;
}

.hero_cost_text {
    font-size: 14px;
}

.hero_advantages {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    gap: 64px;
    margin-top: 80px;
}

.hero_adv_items {
    flex: 1;
    position: relative;
    text-align: center;
}

.hero_adv_items:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.hero_advantages::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.hero_advantages::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.hero_adv_item_1 {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 8px;
}

.hero_adv_item_2 {
    font-family: 'Mulish';
    font-weight: 400;
    line-height: 1.4;
}

/* ------------------------------------------- */
/* services - блок "Услуги" */

#services {
    padding-top: 71px;
    padding-bottom: 80px;
    overflow: hidden;
}

.serv_title {
    text-align: center;
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 71px;
}

.stackCard {
    display: flex;
    gap: 40px;
    background-color: #FFFCFC;
    border-radius: 32px;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
    padding: 52px 60px;
}

.stackCard_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    margin-top: 16px;
    margin-bottom: 32px;
}

.card_title {
    display: flex;
    justify-content: space-between;
}

.title_text {
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.1;
}

.title_right {
    margin-bottom: 16px;
}

.category {
    background-color: #F94C23;
    border-radius: 18px;
    padding: 9px 13px;
    color: #FFFCFC;
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
}

.duration,
.description,
.date,
.stock_info {
    line-height: 1.4;
}


.date span {
    color: #F94C23;
}

.card_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 2px;
}

.btn_left {
    background-color: #F94C23;
    padding: 19px 216px;
    margin-top: 16px;
} 

.btn_right {
    background-color: #F94C231A;
    color: #F94C23;
    padding: 19px 166px;
}

.info_block {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1.5px solid #25253352;
}

.info_title {
    font-weight: 700;
    margin-bottom: 12px;
}

.info_list,
.adv_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_list li::before {
    content: "•";
    color: #9E1D21;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.adv_list li::before {
    content: url('/assets/img/services/nav_element.svg');
    display: inline-block;
    margin-left: -1em;
    vertical-align: middle;
}

/* ------------------------------------------- */
/* add_services - блок "Дополнительные услуги" */

#add_services {
    padding-bottom: 100px;
}

.add_serv_inner {
    display: flex;
    gap: 223px;
}

.add_serv_column {
    min-width: 447px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.add_serv_title {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 44px;
    line-height: 1.1;
    text-transform: uppercase;
}

.add_serv_title_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.add_serv_title_2::after {
    content: url('/assets/img/add_services/line_title.svg');
    position: absolute;
    display: inline-block;
    top: 70%;
}

.add_serv_card {
    display: flex;
    gap: 32px;
    padding: 32px;
    background-color: #FFFCFC;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.add_serv_card:hover {
    transform: scale(1.05);
}

.add_serv_card_column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add_serv_desc {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
}

.add_serv_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.add_serv_cost {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 32px;
}

.add_serv_duration {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
}

.btn_add_serv {
    border: 2px solid #F94C23;
    color: #F94C23;
    background-color: transparent;
    padding: 18px 54px;
    white-space: nowrap;
}

/* ------------------------------------------- */
/* add_services - блок "Преимущества" */

#advantages {
    background-color: #F5F5F7;
    padding-top: 80px;
    padding-bottom: 120px;
    border-radius: 40px;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
}

.advantages_title {
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    max-width: 919px;
    margin-bottom: 80px;
}

.advantages_title span {
    color: #F94C23;
}

.advantages_title_2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.advantages_title_2 p:first-child {
    margin-left: 100px;
}

.advantages_title_2 p:last-child {
    margin-left: 345px;
}

.advantages_title_2::after {
    content: url('/assets/img/advantages/line_title.svg');
    position: absolute;
    display: inline-block;
    top: 65%;
    left: 25%;
}

.adv_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adv_row {
    display: flex;
    gap: 20px;
}

.adv_item_small {
    background-color: #FFFCFC;
    padding: 28px 28px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    max-width: 315px;
}

.adv_item_small > p {
    color: #252533CC;
}

.adv_item_small_gap_1 {
    gap: 46px;
}

.adv_item_small_gap_2 {
    gap: 72px;
}

.adv_item_big {
    position: relative;
    padding: 28px;
    background-color: #FFFCFC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.adv_item_big::before {
    content: "";
    position: absolute;
    top: 65%;
    right: -16px;
    width: 32px;
    height: 32px;
    background-color: #F5F5F7;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 16px 0 0 0 #F5F5F7; 
}

.adv_item_big::after {
    content: "";
    position: absolute;
    top: 65%;
    right: 100%;
    width: 32px;
    height: 32px;
    background-color: #F5F5F7;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 16px 0 0 0 #F5F5F7; 
}

.item_big_1 {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.big_title {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.big_subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #25253399;
}

.adv_item_small p {
    font-weight: 400;
    line-height: 1.4;
}

.small_top p {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    margin-top: 16px;
}

.item_big_1 > p {
    line-height: 1.4;
}

.big_title span {
    color: #F94C23;
}

.item_big_2 {
    display: flex;
    gap: 178px;
    padding-top: 24px;
    border-top: 1.5px solid transparent;
    border-image: repeating-linear-gradient(
    90deg, 
    #25253326,
    #25253326 10px,
    transparent 5px, 
    transparent 15px
    ) 1;
}

.big_2_2 {
    padding: 12px 20px;
    background-color: #F94C231A;
    color: #F94C23E5;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    border-radius: 8px;
    white-space: nowrap;
}

.btn_big_adv {
    border: 2px solid #F94C23;
    padding: 12px 20px;
    background-color: transparent;
    color: #F94C23;
    border-radius: 8px;
}

.adv_item_video {
    position: relative;
    display: flex;
    gap: 38px;
    background-color: #FFFCFC;
    border-radius: 16px;
}

.adv_item_video::after {
    content: url('/assets/img/advantages/play_icon.svg');
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 44%;
}

.adv_video_title {
    margin: 24px 0 32px 28px;
    display: flex;
    flex-direction: column;
    gap: 106px;
}

.adv_video_title p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
}

.adv_video_title p:last-child {
    font-weight: 400;
    line-height: 1.4;
    color: #252533CC;
}
