body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Mulish';
    font-size: 16px;
    font-weight: 500;
    color: #252533;
    background-color: #F5F5F7;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.title_num_font {
    font-family: 'Wix Madefor Display';
}

a {
    text-decoration: none;
    color: #252533;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.btn_form {
    border-radius: 16px;
    border: transparent;
    cursor: pointer;
    font-family: 'Mulish';
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
    color: #F7F5F5;
    background-color: #F94C23;
}

/* ------------------------------------------- */
/* Header - Шапка */

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #F5F5F7;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}

.nav {
    display: flex;
    gap: 28px;
    align-items: center;
    line-height: 1.2;
}

.contacts_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.num_header {
    font-weight: 600;
}

.social_net_header {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* ------------------------------------------- */
/* hero - Приветственный экран */

#hero {
    padding-top: 52px;
    padding-bottom: 40px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 10px 20px -10px #0d0b1a14;
}

.hero_title {
    position: relative;
}

.hero_title::after {
    content: url('/assets/img/hero/hero_img.svg');
    position: absolute;
    display: inline-block;
    left: 28.5%;
    top: -50%;
}

.hero_subtitle {
    position: relative;
    display: inline-block;
    font-family: 'Wendy One', 'Mulish';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: 32px;
}

.hero_subtitle::after {
    content: url('/assets/img/hero/line_subtitle.svg');
    position: absolute;
    display: inline-block;
    left: 45%;
    top: 30%;
}

.hero_text {
    margin-top: 199px;
    font-size: 20px;
    line-height: 1.4;
}

.hero_button {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.btn_hero {
    padding: 17px 44px;
}

.hero_cost_orange {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    color: #F94C23;
}

.hero_cost_text {
    font-size: 14px;
}

.hero_advantages {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    gap: 64px;
    margin-top: 80px;
}

.hero_adv_items {
    flex: 1;
    position: relative;
    text-align: center;
}

.hero_adv_items:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.hero_advantages::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.hero_advantages::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.hero_adv_item_1 {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 8px;
}

.hero_adv_item_2 {
    font-family: 'Mulish';
    font-weight: 400;
    line-height: 1.4;
}

/* ------------------------------------------- */
/* services - блок "Услуги" */

#services {
    padding-top: 71px;
    padding-bottom: 80px;
    overflow: hidden;
}

.serv_title {
    text-align: center;
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 71px;
}

.stackCard {
    display: flex;
    gap: 40px;
    background-color: #FFFCFC;
    border-radius: 32px;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
    padding: 52px 60px;
}

.stackCard_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    margin-top: 16px;
    margin-bottom: 32px;
}

.card_title {
    display: flex;
    justify-content: space-between;
}

.title_text {
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.1;
}

.title_right {
    margin-bottom: 16px;
}

.category {
    background-color: #F94C23;
    border-radius: 18px;
    padding: 9px 13px;
    color: #FFFCFC;
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
}

.duration,
.description,
.date,
.stock_info {
    line-height: 1.4;
}


.date span {
    color: #F94C23;
}

.card_bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 2px;
}

.btn_left {
    background-color: #F94C23;
    padding: 19px 216px;
    margin-top: 16px;
}

.btn_right {
    background-color: #F94C231A;
    color: #F94C23;
    padding: 19px 166px;
}

.info_block {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1.5px solid #25253352;
}

.info_title {
    font-weight: 700;
    margin-bottom: 12px;
}

.info_list,
.adv_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_list li::before {
    content: "•";
    color: #9E1D21;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.adv_list li::before {
    content: url('/assets/img/services/nav_element.svg');
    display: inline-block;
    margin-left: -1em;
    vertical-align: middle;
}

/* ------------------------------------------- */
/* add_services - блок "Дополнительные услуги" */

#add_services {
    padding-bottom: 100px;
}

.add_serv_inner {
    display: flex;
    gap: 223px;
}

.add_serv_column {
    min-width: 447px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.add_serv_title {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 44px;
    line-height: 1.1;
    text-transform: uppercase;
}

.add_serv_title_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.add_serv_title_2::after {
    content: url('/assets/img/add_services/line_title.svg');
    position: absolute;
    display: inline-block;
    top: 70%;
}

.add_serv_card {
    display: flex;
    gap: 32px;
    padding: 32px;
    background-color: #FFFCFC;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

.add_serv_card:hover {
    transform: scale(1.05);
}

.add_serv_card_column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add_serv_desc {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
}

.add_serv_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.add_serv_cost {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 32px;
}

.add_serv_duration {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
}

.btn_add_serv {
    border: 2px solid #F94C23;
    color: #F94C23;
    background-color: transparent;
    padding: 18px 54px;
    white-space: nowrap;
}

/* ------------------------------------------- */
/* add_services - блок "Преимущества" */

#advantages {
    background-color: #F5F5F7;
    padding-top: 80px;
    padding-bottom: 120px;
    border-radius: 40px 40px 0 0;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
}

.advantages_title {
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    max-width: 919px;
    margin-bottom: 80px;
}

.advantages_title span {
    color: #F94C23;
}

.advantages_title_2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.advantages_title_2 p:first-child {
    margin-left: 100px;
}

.advantages_title_2 p:last-child {
    margin-left: 345px;
}

.advantages_title_2::after {
    content: url('/assets/img/advantages/line_title.svg');
    position: absolute;
    display: inline-block;
    top: 65%;
    left: 25%;
}

.adv_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adv_row {
    display: flex;
    gap: 20px;
}

.adv_item_small {
    background-color: #FFFCFC;
    padding: 28px 28px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    max-width: 315px;
}

.adv_item_small>p {
    color: #252533CC;
}

.adv_item_small_gap_1 {
    gap: 46px;
}

.adv_item_small_gap_2 {
    gap: 72px;
}

.adv_item_big {
    position: relative;
    padding: 28px;
    background-color: #FFFCFC;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.adv_item_big::before {
    content: "";
    position: absolute;
    top: 65%;
    right: -16px;
    width: 32px;
    height: 32px;
    background-color: #F5F5F7;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 16px 0 0 0 #F5F5F7;
}

.adv_item_big::after {
    content: "";
    position: absolute;
    top: 65%;
    right: 100%;
    width: 32px;
    height: 32px;
    background-color: #F5F5F7;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 16px 0 0 0 #F5F5F7;
}

.item_big_1 {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.big_title {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.big_subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #25253399;
}

.adv_item_small p {
    font-weight: 400;
    line-height: 1.4;
}

.small_top p {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    margin-top: 16px;
}

.item_big_1>p {
    line-height: 1.4;
}

.big_title span {
    color: #F94C23;
}

.item_big_2 {
    display: flex;
    gap: 178px;
    padding-top: 24px;
    border-top: 1.5px solid transparent;
    border-image: repeating-linear-gradient(90deg,
            #25253326,
            #25253326 10px,
            transparent 5px,
            transparent 15px) 1;
}

.big_2_2 {
    padding: 12px 20px;
    background-color: #F94C231A;
    color: #F94C23E5;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    border-radius: 8px;
    white-space: nowrap;
}

.btn_big_adv {
    border: 2px solid #F94C23;
    padding: 12px 20px;
    background-color: transparent;
    color: #F94C23;
    border-radius: 8px;
}

.adv_item_video {
    position: relative;
    display: flex;
    gap: 38px;
    background-color: #FFFCFC;
    border-radius: 16px;
}

.adv_item_video::after {
    content: url('/assets/img/advantages/play_icon.svg');
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 44%;
}

.adv_video_title {
    margin: 24px 0 32px 28px;
    display: flex;
    flex-direction: column;
    gap: 106px;
}

.adv_video_title p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
}

.adv_video_title p:last-child {
    font-weight: 400;
    line-height: 1.4;
    color: #252533CC;
}

/* ------------------------------------------- */
/* about_us - блок "О нас" */

#about_us {
    padding-bottom: 100px;
    background-color: #F5F5F7;
    border-radius: 0 0 40px 40px;
}

.about_us_title {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about_us_title p:last-child {
    margin-right: 120px;
}

.about_us_inner {
    display: flex;
    gap: 40px;
}

.about_us_column {
    flex: 1;
}

.about_us_column:last-child {
    margin-top: 67px;
}

.about_us_column>p {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.about_us_column p span {
    color: #F94C23;
}

.about_us_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    line-height: 1.4;
}

.about_us_advantages {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    gap: 64px;
}

.about_us_adv_items {
    flex: 1;
    position: relative;
    text-align: center;
}

.about_us_column:last-child {
    position: relative;
}

.about_us_column:last-child::after {
    content: url('/assets/img/about_us/line_adv_item.svg');
    position: absolute;
    display: inline-block;
    top: -23%;
}

.about_us_adv_items:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.about_us_advantages::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.about_us_advantages::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40px;
    background-color: #25253352;
}

.about_us_adv_item_1 {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 8px;
}

.about_us_adv_item_2 {
    font-family: 'Mulish';
    font-weight: 400;
    line-height: 1.4;
}

.about_us_row:first-child {
    margin-bottom: 32px;
}

.about_us_bottom {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}

.about_us_bottom p {
    font-size: 20px;
    line-height: 1.4;
}

.about_us_bottom p span {
    color: #F94C23;
}

.about_us_btn {
    padding: 19px 236px;
    border: 2px solid #F94C23;
    background-color: transparent;
    color: #F94C23;
    white-space: nowrap;
}

/* ------------------------------------------- */
/* instructors - блок "Инструкторы" */

#instructors {
    padding-bottom: 100px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 10px 20px -10px #0d0b1a14;
    background-color: #F5F5F7;
    margin-bottom: 80px;
}

.instructors_title {
    display: flex;
    flex-direction: column;
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.instructors_title p:last-child {
    margin-left: 240px;
}

.instructors_swiper,
.reviews_swiper {
    overflow: visible;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    width: max-content;
}

.instructions_navigation {
    position: absolute;
    top: -43%;
    right: 0;
    display: flex;
    gap: 12px;
}

.instructions_button_prev,
.instructions_button_next {
    border-radius: 8px;
    background-color: #F94C231A;
    padding: 8px;
    transition: opacity 0.3s ease;
}

.instructions_button_prev.swiper-button-disabled,
.instructions_button_next.swiper-button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.instructors_swiper .swiper-slide {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 16px;
    background-color: #FFFCFC;
    border-radius: 20px;
    max-width: 650px;
}

.photo_instructor {
    padding-right: 20px;
}

.about_instructor {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-left: 20px;
}

.about_instructor::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: repeating-linear-gradient(180deg,
            #DEDEE6,
            #DEDEE6 6px,
            transparent 6px,
            transparent 18px);
}

.about_instructor_row {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about_instructor>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #252533E5;
}

.instructor_row_1 p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
}

.instructor_row_1 p:last-child {
    font-size: 14px;
    line-height: 1.4;
}

.instructor_row_2 {
    display: inline-block;
    align-self: flex-start;
    background-color: #F94C23;
    color: #FFFCFC;
    padding: 6px 13px;
    border-radius: 18px;
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

/* ------------------------------------------- */
/* stages - блок "Этапы" */

#stages {
    position: relative;
    min-height: 782px;
}

.stages_title {
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    position: relative;
}

.stages_title:after {
    content: url('/assets/img/stages/back_line.svg');
    position: absolute;
    display: inline-block;
    right: -5%;
    top: 110%;
}

.stages_title p:first-child {
    margin-left: 320px;
}

.stages_title p:last-child {
    position: relative;
    word-spacing: 75px;
    margin-left: 357px;
}

.stages_title p:last-child::after {
    content: url('/assets/img/stages/number.svg');
    position: absolute;
    display: inline-block;
    left: 19%;
    top: -40%;
}

.stages_items_block {
    position: relative;
    min-height: 603px;
    min-width: 1440px;
}

.stages_items {
    position: absolute;
    display: flex;
    gap: 32px;
}

.stages_items>p {
    color: #F94C23;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -1px;
}

.stages_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stages_item p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1;
    text-transform: uppercase;
}

.stages_item p:last-child {
    font-size: 14px;
    line-height: 1.4;
}

.stages_items:nth-child(1) {
    top: 27%;
}

.stages_items:nth-child(2) {
    top: 65%;
    left: 15%;
}

.stages_items:nth-child(3) {
    top: 37%;
    left: 38%;
}

.stages_items:nth-child(4) {
    top: 75%;
    left: 58%;
}

.stages_items:nth-child(5) {
    top: 10%;
    left: 63%;
}

.stages_items:nth-child(2) .stages_item,
.stages_items:nth-child(3) .stages_item {
    max-width: 380px;
}

.stages_items:nth-child(1) .stages_item,
.stages_items:nth-child(4) .stages_item,
.stages_items:nth-child(5) .stages_item {
    max-width: 360px;
}

/* ------------------------------------------- */
/* reviews - блок "Отзывы" */

#reviews {
    margin-top: 80px;
    padding-top: 100px;
    background-color: #F5F5F7;
    border-radius: 40px;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
    position: relative;
    padding-bottom: 100px;
}

.reviews_top {
    margin-bottom: 100px;
}

.reviews_title {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 44px;
}

.reviews_title_row,
.reviews_title_row_2 {
    display: flex;
    justify-content: space-between;
}

.reviews_title_row_2 {
    align-items: center;
}

.reviews_title_row>p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 800;
    font-size: 52px;
    line-height: 1.1;
    text-transform: uppercase;
    position: relative;
}

.reviews_title_row p span:first-child,
.reviews_title_row_2 p span {
    color: #F94C23;
}

.reviews_title_row_2 p span {
    font-weight: 700;
}

.reviews_title_row_2 p:first-child {
    font-size: 18px;
    line-height: 1.4;
}

.reviews_services {
    display: flex;
    gap: 24px;
}

.reviews_services_items {
    display: flex;
    gap: 10px;
    align-items: center;
}

.reviews_services_icon {
    background-color: #FFFCFC;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.serv_icn_1 {
    padding: 11px 13px;
}

.serv_icn_2 {
    padding: 11px 12px;
}

.serv_icn_3 {
    padding: 11px;
}

.reviews_services_mark {
    display: flex;
    gap: 6px;
}

.reviews_services_mark p {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.reviews_services_mark img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.reviews_navigation {
    display: flex;
    gap: 12px;
}

.reviews_button_prev,
.reviews_button_next {
    border-radius: 8px;
    background-color: #F94C231A;
    padding: 8px;
    transition: opacity 0.3s ease;
}

.reviews_button_prev.swiper-button-disabled,
.reviews_button_next.swiper-button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.reviews_swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 47px;
    padding: 24px 32px;
    background-color: #FFFCFC;
    border-radius: 16px;
    max-width: 427px;
}

.reviews_person {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviews_person_name {
    display: flex;
    justify-content: space-between;
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    line-height: 1;
    align-items: center;
}

.reviews_person_name>p {
    font-size: 20px;
}

.person_mark>p {
    font-size: 16px;
}

.person_mark {
    display: flex;
    gap: 3px;
    align-items: center;
}

.person_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #252533CC;
}

.person_text span {
    font-weight: 500;
    color: #F94C23;
}

.reviews_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews_date>p {
    color: #25253399;
    line-height: 1.1;
}

.reviews_bottom>p {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    text-transform: uppercase;
}

.reviews_video_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 44px;
}

.reviews_video_column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.reviews_video_item {
    position: relative;
}

.reviews_video_img {
    width: 100%;
    height: auto;
    display: block;
}

.reviews_video_item::after {
    content: url('/assets/img/reviews/play_icon.svg');
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 40%;
}

.reviews_video_time {
    display: flex;
    gap: 2px;
    position: absolute;
    top: 14px;
    left: 16px;
}

.reviews_video_time>p {
    font-family: 'Wix Madefor Display';
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #FFFCFC;
}

.reviews_video_name {
    background-color: #FFFCFC;
    border-radius: 14px;
    padding: 7px 12px;
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    width: fit-content;
    position: absolute;
    bottom: 14px;
    left: 16px;
}

/* ------------------------------------------- */
/* contacts - блок "Контакты" */

#contacts {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contacts_inner {
    display: flex;
    gap: 20px;
}

.contacts_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts_form {
    background-color: #FFFCFC;
    border-radius: 24px;
    padding: 32px 32px 36px;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
}

.contacts_title {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 28px;
}

.contacts_title > p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
}

.contacts_title > p:last-child {
    line-height: 1.4;
    color: #252533CC;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.form_dropdown {
    display: flex;
    justify-content: space-between;
}

#form_contacts input::placeholder {
    color: #25253399;
}

#form_contacts input,
.form_dropdown {
    width: 100%;
    box-sizing: border-box;
    background-color: #F5F5F7;
    padding: 18px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    border-radius: 16px;
    border-color: transparent;
    font-family: 'Mulish';
}

#form_contacts input,
textarea:focus {
    outline: none;
}

.form_btn {
    padding: 18px 219px;
    margin-bottom: 10px;
}

.form_condition {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #25253399;
}

.form_condition span {
    color: #F94C23;
}

.contacts_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    background-color: #FFFCFC;
    border-radius: 24px;
    box-shadow: 0px 8px 80px 0px #0D0B1A14;
}

.contacts_address,
.contacts_phones_text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contacts_address > p:first-child,
.contacts_phones_text > p:first-child {
    font-family: 'Wix Madefor Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
}

.contacts_address > p:last-child,
.contacts_phones_text > p:last-child {
    font-size: 14px;
    line-height: 1;
}

.contacts_address > p span:last-child,
.contacts_phones_text > p:last-child {
    color: #F94C23;
}

.contacts_phones {
    display: flex;
    justify-content: space-between;
}

.contacts_phones_serv {
    display: flex;
    gap: 12px;
}